body{
    background-color: #000000;
}
#navbar{
    background-color: #550c0c98;
    color: #fff;
}

#welcome-section{
background-color:#000000;
color: #fff;
}

#projects{
background-color:#550c0c98 ;
color: #fff;
}

a{
    color: #fff;
}

#profile-link{
background-color:#000000 ;
color: #fff;

}

footer{
background-color:#550c0c98 ;
color: #fff;
}